# Virtuelle Umgebungen
venv/
env/
.virtualenv/
vectorstore/
ENV/

# Daten und große Dateien
scripts/


# Konfigurationsdateien
.env

# IDEs und Editoren
.idea/
.vscode/

# Systemdateien
.DS_Store

# Python Cache
__pycache__/
*.pyc